@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: Boogaloo;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

.navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.brand-title {
    padding-top: 0%;
}

.brand-title:hover {
    transform: scale(1.1);
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 2.4rem;
}

.navbar-links li:hover {
    transform: scale(1.2);
}

.head-img {
    height: 100%;
    background-image: url(../images/Gearlt/The\ Witcher\ Header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none none solid none;
    border-width: 5px;
    border-color: white;
}

.head-text {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 5rem;
    padding: 170px;
    color: white;
}

.images {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-image: url(../images/Gearlt/background-witcher.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gearlt-left {
    margin-top: 100px;
    margin-bottom: 100px;
}

.gearlt-middle {
    margin-top: 100px;
    margin-bottom: 100px;
}

.video {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    padding: 40px 0;
    background-color: white;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: black;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

@media screen and (max-width: 854px) {
    .navbar-links li a {
        font-size: 1.5rem;
    }

    .brand-title {
        width: 100px;
        height: 100px;
    }

    .gearlt-left {
        width: 200px;
        height: 400px;
    }

    .gearlt-middle {
        width: 200px;
        height: 400px;
    }
}

@media screen and (max-width: 658px) {
    .head-text {
        font-size: 3rem;
    }
}

@media screen and (max-width: 620px) {
    .navbar-links li a {
        font-size: 0.7rem;
    }

    .head-text {
        font-size: 2rem;
    }

    .video { position: relative; 
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        height: 0; 
        overflow: hidden; 
    }

    .video iframe, .video object, .video embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}

@media screen and (max-width: 473px) {
    .head-text {
        font-size: .7rem;
    }
}

@media screen and (max-width: 467px) {
    .head-img {
        background-image: url(../images/Gearlt/gearlt-467px.png);
    }

    .none {
        display: none;
    }
}

@media screen and (max-width: 404px) {
    .navbar-links li a {
        font-size: 0.5rem;
    }

    .brand-title {
        width: 50px;
        height: 50px;
    }

    .gearlt-left {
        width: 100px;
        height: 200px;
    }

    .gearlt-middle {
        width: 100px;
        height: 200px;
    }
}