@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    font-family: Boogaloo;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

.navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.brand-title {
    padding-top: 0%;
}

.brand-title:hover {
    transform: scale(1.1);
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 2.4rem;
}

.navbar-links li:hover {
    transform: scale(1.2);
}

.head-img {
    height: 100%;
    background-image: url(../images/Kratos/kratos-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none none solid none;
    border-width: 5px;
    border-color: white;
}

.head-text {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 5rem;
    padding: 170px;
    color: white;
}

.about-kratos {
    height: auto;
    width: auto;
    font-family: Oswald;
    background-color: #161922;
    border-style: none none solid none;
    border-width: 5px;
    border-color: white;
}

.about-kratos .content img {
    width: auto;
    height: auto;
}

.text {
    width: 500px;
    max-width: 100%;
    margin-left: 250px;
}

.content {
    display: inline-flex;
}

.text h1 {
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text p {
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.about-kratos2 {
    font-family: Oswald;
    background-color: #161922;
    border-style: none none solid none;
    border-width: 5px;
    border-color: white;
}

.about-kratos2 .content2 img {
    width: 1000px;
    margin-left: 153px;
}

.text2 {
    width: 500px;
    max-width: 100%;
    margin-left: 250px;
}

.content2 {
    display: inline-flex;

}

.text2 h1 {
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text2 p {
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}

.text2 li {
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}


.video {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    padding: 40px 0;
    background-color: white;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: black;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}