@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    font-family: Boogaloo;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

.navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.brand-title {
    padding-top: 0%;
}

.brand-title:hover {
    transform: scale(1.1);
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: Bebas Neue;
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 2.4rem;
}

.navbar-links li:hover {
    transform: scale(1.2);
}

.head-img {
    height: 100%;
    background-image: url(../images/Kratos/kratos-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none none solid none;
    border-width: 5px;
    border-color: white;
}

.head-text {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 5rem;
    padding: 170px;
    color: white;
}

.About-Kratos {
    background-color: #161922;
}

.responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 30px 0px 0px 0px;
}

.text {
    padding: 0px 200px 50px;
    font-family: Oswald;
    color: white;
}

.text h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
}

.text p {
    color: white;
    line-height: 28px;
    letter-spacing: 1px;
}

.About-Kratos2 {
    background-color: #161922;
}

.text2 {
    padding: 0px 200px 50px;
    font-family: Oswald;
    color: white;
}

.text2 h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
}

.text2 p {
    color: white;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
}

.text2 li {
    color: white;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
}

.video {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    padding: 40px 0;
    background-color: white;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: black;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

@media screen and (max-width: 854px) {
    .navbar-links li a {
        font-size: 1.5rem;
    }

    .brand-title {
        width: 100px;
        height: 100px;
    }

    .text {
        padding: 0px 80px 50px;
    }

    .text2 {
        padding: 0px 80px 50px;
    }
}

@media screen and (max-width: 569px) {
    .navbar-links li a {
        font-size: 0.7rem;
    }

    .brand-title {
        width: 100px;
        height: 100px;
    }

    .text {
        padding: 0px 80px 50px;
    }

    .text2 {
        padding: 0px 80px 50px;
    }

    .video { position: relative; 
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        height: 0; 
        overflow: hidden; 
    }

    .video iframe, .video object, .video embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}

@media screen and (max-width: 508px) {
    .head-img {
        background-image: url(../images/Kratos/kratos-508px.png);
    }

    .none {
        display: none;
    }

    .responsive {
        display: none;
    }

    .text {
        padding: 10px 80px 50px;
    }

    .text2 {
        padding: 10px 80px 50px;
    }
}

@media screen and (max-width: 404px) {
    .navbar-links li a {
        font-size: 0.5rem;
    }

    .brand-title {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 343px) {
    .brand-title {
        display: none;
    }

    .head-text {
        padding: 120px;
    }
}